Catalogo/catalogo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalogo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="libros"/>
                <xs:element ref="revistas"/>
                <xs:element ref="usuarios"/>
                <xs:element ref="prestamos"/>
            </xs:sequence>
            <xs:attribute name="fecha" type="xs:date" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="libros">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="libro" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="libro">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titulo" type="xs:string"/>
                <xs:element name="anio" type="xs:string"/>
                <xs:element ref="autores"/>
                <xs:element ref="etiquetas"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="categoria" type="xs:string" use="required"/>
            <xs:attribute name="isbn" type="tipoIsbn" use="required"/>
            <xs:attribute name="paginas" type="xs:integer" use="optional"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="autores">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="autor" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="autor">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="orcid" type="tipoOrcid" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="etiquetas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="etiqueta" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!--Restricciones Libro-->
    <xs:simpleType name="tipoIsbn">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{13}"/>           
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoOrcid">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}\-[0-9]{4}\-[0-9]{4}\-[0-9]{4}"/>            
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="revistas">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="revista" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="revista">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titulo" type="xs:string"/>
                <xs:element name="anio" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="area" type="xs:string" use="required"/>
            <xs:attribute name="issn" type="tipoIssn" use="required"/>
            <xs:attribute name="numero" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <!--Restricciones Revista-->
    <xs:simpleType name="tipoIssn">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}\-[0-9]{3}[X0-9]"/>            
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="usuarios">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="usuario" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="usuario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="email" type="tipoEmailUs"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="tipo" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <!--Restricciones Usuario-->
    <xs:simpleType name="tipoEmailUs">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-z0-9\.\-])+\@([a-z0-9\.\-])+\.[a-z][a-z]+"/>
        </xs:restriction>
    </xs:simpleType>

    
    <xs:element name="prestamos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="prestamo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="prestamo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fecha_inicio" type="xs:date"/>
                <xs:element name="fecha_fin" type="xs:date"/>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="itemRef" type="xs:IDREF" use="required"/>
            <xs:attribute name="usuarioRef" type="xs:IDREF" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>